@charset "utf-8";

// 設定用
@import "scss/setting";

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background-color: #fff;
  margin: 0;
}
h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  font-size: 16px;
  color: #f54955;
}
p {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #999999;
  margin-bottom: 30px;
  font-size: 14px;
}
p a {
  color: #f54955;
  text-decoration: none;
  outline: none;
}

.container {
  position: relative;

  background-color: #000;
  width: 908px;
  height: 774px;
  overflow: hidden;
  margin: 0 auto;
}
.sec01 {
  background: #000;
  position: relative;
}

/* glitch elem must have absolute position */
.glitch-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.glitch-img {
  background-image: url(../img/bk.png);
}
.sec01 {
  padding: 50px 0;
}
.maru {
  position: absolute;
  z-index: 200;
  top: calc(50% - 179px);
  left: calc(50% - 179px);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 358px;
  height: 358px;
  img {
    width: 100%;
    height: 100%;
  }
}
.turn-animation {
  animation: 3s linear infinite rotation1;
}
@keyframes rotation1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
